{% extends 'base.html' %}
{% block content %}
    <!-- <div class="alert alert-info text-center" role="alert">
        Learning Log helps you keep track of your learning, for any topic you're learning about.
    </div> -->

    <!-- Jumbotron class -->
    <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
    <div class="jumbotron">
        <h1 class="display-3">Track your learning</h1>
        <p class="lead">Make your own Learning Log, and keep a list of the topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>
        <a href="#" class="btn btn-primary btn-lg">Register »</a>
    </div>
    </div>
    </main>
{% endblock content %}