{% extends 'base.html' %}
{% block content %}

<script>
    $(document).ready(function(){
        $(".fa-trash").click(function(){
            if(confirm('Are you sure to delete?')){
                location.replace($(this).data('link'));
            }
        });

    });
</script>

<div class="container">
    <h2>{{topic}}</h2>
    <hr>
    <p><a href="/new_entry/{{topic}}">add new entry</a></p>

    {% if entries %}
    {% for entry in entries %}
<div class="card mb-5">

    <div class="card-header">

        <h3>{{entry.date.strftime('%b %d, %Y %H:%M')}}

            <div class="float-right">
                <a href="/edit_entry/{{topic}}/{{entry.sno}}"><button data-toggle="tooltip" data-placement="top" title="edit entry" class="fa fa-edit btn btn-info"></button></a>

                <button data-toggle="tooltip" data-placement="top" title="delete entry" data-link="/delete/{{topic}}/{{entry.sno}}" class="fa fa-trash btn btn-danger"></button>
                {% if entry.topics == 'Tasks' %}
                <a href="/reassign_tasks/{{topic}}/{{entry.sno}}"><button data-toggle="tooltip" data-placement="top" title="reassign tasks" class="fa fa-refresh btn btn-success"></button></a>
                {% endif %}

            </div>
        </h3>
    </div>
    <div class="card-body">
        <!-- {{entry.entries.replace('\n', '<br>')|safe}} -->
        {{entry.entries|markdown|safe}}
    </div>
</div>
    {% endfor %}
    {% else %}
    <li>
        There are no entries for this topic yet.
    </li>
    {% endif %}

</div>

{% endblock content %}