{% extends 'base.html' %}
{% block content %}

<script>
    $(document).ready(function(){
        $(".fa-trash").click(function(){
            if(confirm('Are you sure to delete?')){
                location.replace($(this).attr('href'));
            }
        });
    });
</script>


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    {{message}}
    <button type="button" class="close" onclick="location.reload();" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
<h2>Topics</h2>
<hr>
<p><a href="/new_topic">Add a new topic</a></p>
    {% if logs %}
    {% for topic in logs %}
<div class="card mb-5">
    <div class="card-body">
        <a href="/topics/{{ topic.topics }}">{{ topic.topics }}</a>
        <div class="float-right">
        <a href="/edit_topic/{{topic.topics}}"><button class="fa fa-edit btn btn-info"></button></a>
        <button href="/delete/{{topic.topics}}" class="fa fa-trash btn btn-danger"></button></a>
        </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
<li>
No topics have been added yet.
</li>
    {% endif %}

</div>

{% endblock content %}
